@import url("https://fonts.google.com/specimen/Germania+One");
            
            h1{
                color: #B50000;
                margin: 20px 0 ;
            }
            p{
                font-family: 'Germania One', cursive;
                font-size: 2em;
                transition: .2s opacity ease-in-out;
                margin: 0;
                color: #B50000;
            }
            button{
                background: #B50000;
                color: #fff;
                border: none;
                border-radius: 2px;
                padding: 4px 20px;
                font-size: 1.25em;
                margin: 20px 10px;
                transition: .3s background ease-in-out;
                
                outline: none;
            }
            button:hover{
                background: #B50000;
            }
            button:active{
                background: #B50000;
            }
            *{
                box-sizing: border-box;
            }
            body{
                background: #FF0000;
                text-align: center;
                font-family: 'Germania One', cursive;
            }
            div{
                box-shadow: 0 0 5px 1px rgba(0,0,0,.4);
                background: #fff;
                width: 50%;
                min-width: 310px;
                position: absolute;
                top: 50%; left:50%;
                transform: translate(-50%, -50%);
                padding: 20px 20px 10px 20px;
            }
            footer{
                font-size: .8em;
            }